.donations_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donations_h1 {
  font-size: 4rem;
  color: #5f3f3f;
}

.donations_div {
  overflow: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10em;
  grid-row-gap: 3em;
  margin-top: 2em;
}

.recent_products_container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.recent_products_greeting {
  font-family: "Lilita One", cursive;
  font-size: 24px;
  color: #5f3f3f;
  margin-bottom: 2rem;
}

.recent_products_h2 {
  color: #5f3f3f;
  font-size: 2.75rem;
  font-weight: 400;
  margin-bottom: 1.95em;
}

.recent_three_products_div {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5em;
}

.recent_four_products_div {
  display: none;
}

.home_product_outer_border {
  border-radius: 28px;
  width: 20.6em;
  /* height: 27em; */
  padding: 0.9em 3em 2em 3em;
  border: 3px solid transparent;
  transition: 0.8s;
}

.home_product_article {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  text-decoration: none;
  color: #5f3f3f;
  font-size: 1.5rem;
}

.home_product_article img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  border-radius: 15px;
}

.home_product_outer_border:hover {
  border-color: #f0dbe2;
}

.home_product_title {
  font-weight: 400;
  transition: 0.8s;
  margin-top: 0.45em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .product_card {
      width: 5em;
      height: 10em;
    } */

.home_product_link {
  display: grid;
  text-decoration: none;
  background-color: #aac9ce;
  width: 4.7em;
  align-items: center;
  height: 1.65em;
  margin-top: 0.5em;
  text-align: center;
  border-radius: 50px;
  color: #5f3f3f;
  font-weight: 400;
  transition: 0.3s ease-out;
}

.home_product_outer_border:hover .home_product_link {
  background-color: #e5c1cd;
}

@media only screen and (min-width: 320px) and (max-width: 770px) {
  .recent_products_container {
    margin-top: 3em;
    display: flex;
    margin-bottom: 7em;
  }

  .recent_products_h2 {
    font-size: 6vw;
  }

  .recent_three_products_div {
    display: none;
  }

  .recent_four_products_div {
    display: grid;
    grid-template-columns: repeat(2, 10em);
    grid-template-rows: repeat(2, 10em);
    grid-column-gap: 1.5em;
    grid-row-gap: 6em;
    justify-items: center;
  }

  .home_product_article img {
    height: 6em;
    width: 6.25em;
    object-fit: cover;
  }

  .home_product_outer_border {
    border-radius: 28px;
    width: 10.5em;
    height: 15em;
    padding: 0.4em 0em 0em 0.5em;
    border: 3px solid transparent;
    transition: 0.8s;
  }

  .home_product_title {
    font-weight: 400;
    transition: 0.8s;
    margin-top: 0.45em;
  }

  .home_product_link {
    width: 3.5em;
    height: 1.5em;
    font-size: 1.2rem;
  }
}
