@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@100;300;400;500;700&display=swap");

.donation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 10em;
  font-family: "Lilita One";
  /* height: 100dvh; */
  /* border: 1px solid red; */
}

.donation_title_and_donator_div {
  display: flex;
  /* align-items: flex-end; */
  width: 76em;
  justify-content: space-between;
  /* align-self: center; */
}

.donation_title {
  font-size: 3.8rem;
  font-weight: 400;
  color: #5f3f3f;
  margin-bottom: 0em;
}

.donator_div {
  display: flex;
  gap: 0.3em;
  align-items: flex-end;
}

.donator_username {
  font-size: 1.62rem;
  font-weight: 400;
  color: #5f3f3f;
}
.donator_text {
  font-family: "Montserrat";
  font-size: 1.62rem;
  font-weight: 400;
  color: #5f3f3f;
}

.images_div {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  /* justify-content: center; */
  padding-bottom: 5.5em;
  /* width: 66.75em; */
  width: 79em;
  height: 38.85em;
  background: #e0cad2;
  align-self: center;
  /* 3D design strong */
  box-shadow: 1px 9px 4px rgba(0, 0, 0, 0.33),
    inset -8px -4px 4px rgba(0, 0, 0, 0.4),
    inset 11px 12px 4px rgba(0, 0, 0, 0.57);
  border-radius: 68px;
}

.arrows_div {
  position: absolute;
  width: 75em;
  margin-bottom: 5em;
  display: flex;
  justify-content: space-between;
}

.arrow_left,
.arrow_right {
  font-size: 2.4rem;
  cursor: pointer;
}

.donation_image {
  object-fit: cover;
  height: 13.25em;
  width: 13.25em;
  border-radius: 25px;
  position: absolute;
}

.donation_image_single {
  object-fit: cover;
  height: 16.25em;
  width: 16.25em;
  /* border-radius: 25px; */
  height: 27em;
  border-radius: 16px;
}

.desc_loc_cond_div {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 2.8em;
  width: 79em;
}

.description_h3 {
  font-size: 2.85rem;
  font-weight: 400;
  color: #5f3f3f;
  margin-bottom: 0.2em;
}

.description {
  font-family: "Montserrat";
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 20px;
  color: #5f3f3f;
  width: 58em;
}

.location_div {
  margin-top: 2.25em;
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
}

.location_text {
  font-family: "Montserrat";
  font-size: 1.625rem;
  font-weight: 400;
  color: #5f3f3f;
}

.location {
  font-size: 1.725rem;
  color: #5f3f3f;
  font-weight: 400;
}

.condition_div {
  display: flex;
  flex-direction: column;
  margin-top: 2.25em;
}

.condition_text {
  font-size: 1.75rem;
  font-weight: 400;
  color: #5f3f3f;
}

.condition_ul {
  margin-top: 0.5em;
  margin-left: 0.15em;
  list-style: none;
  display: grid;
  gap: 0.25em;
}

.default_condition {
  color: #5f3f3f;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.15rem;
}

.right_condition {
  font-family: "Montserrat";
  font-weight: 700;
  color: #5f3f3f;
  font-size: 1.15rem;
  text-decoration: underline;
}

.current_image {
  object-fit: cover;
  height: 16.25em;
  width: 16.25em;
  /* border-radius: 25px; */
  height: 27em;
  border-radius: 16px;
  transition: all ease 0.4s;
}

.inactive_image {
  object-fit: cover;
  height: 13.25em;
  width: 13.25em;
  border-radius: 25px;
  transition: all ease 0.4s;
}

.message_div {
  margin-top: 2.75em;
  width: 100%;
}

.message_title {
  color: #5f3f3f;
  font-size: 2.85rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.message_textarea {
  background-color: #ddd0d0;
  color: #5f3f3f;
  border: none;
  border-radius: 10px;
  width: 98%;
  height: 15.85em;
  padding: 0.85em;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  resize: none;
}

.message_textarea::placeholder {
  color: #5f3f3f;
}

.send_btn,
.inactive_send_btn {
  border: none;
  background-color: #aac9ce;
  width: 9.75em;
  height: 4em;
  border-radius: 28.75px;
  margin-top: 2em;
  cursor: pointer;
}

.inactive_send_btn {
  opacity: 0.5;
  pointer-events: none;
}

.send_btn_text {
  color: #5f3f3f;
  font-size: 1.7rem;
  font-weight: 400;
}
