@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&display=swap");

.notFound_container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  align-items: center;
}

.error_title {
  font-size: 3.8rem;
  color: #5f3f3f;
  margin-top: 1.6em;
}

.error_picture {
  width: 38.25em;
  height: 25.45em;
  margin-top: 3.6em;
}

.error_description {
  color: #5f3f3f;
  margin-top: 2.75em;
  font-size: 3rem;
}
