.cardtext {
      color: #5f3f3f;
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
}

.buttonstyle {
      background-color: #AAC9CE ;
      color: #5f3f3f;
      border-radius: 10px;
      width: 4rem;
      padding-top: 2px;
      padding-bottom: 2px;
      border: 0px;
      margin-top: 5px;
}

.img {
      width: 6rem;
      height: 6rem;
      background-color: red;
border-radius: 15px;
}